#footer {
  margin-top: 20px;
  background-color: #0d51db;
  padding-top: 55px;
  padding-bottom: 55px;
  h4 {
    color: white;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 10px;
    &:after {
      content: '';
      width: 40px;
      height: 4px;
      background-color: #ffa800;
      display: block;
      margin-top: 10px;
    }
  }
  .one-footer {
      a {
        color: white;
        line-height: 2.5;
      }
  }
  img.img-logo-footer {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
  }
  .footer-address {
   .description{
     line-height: 2.5!important;
   }
  }
}