#h_sidebar {
  h3 {
    position: relative;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 40px;
    &:after {
      content: "";
      width: 40px;
      height: 4px;
      position: absolute;
      bottom: -10px;
      left: 0;
      background-color: #0d51db;
    }
  }
  ul {
    list-style: none;
    li {
      padding-left: 20px;
      line-height: 40px;
      font-size: 14px;
      border-bottom: 1px dotted #e4e4e4;
      a {
        transition: all 0.2s;
        color: #303030;

      }
      &:hover {
        a {
          color: #f60;
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }
  }
  .marquee {
    height: 500px;
    overflow: hidden;
    .one-product {
      margin-bottom: 20px;
      img.img-one-product-1 {
        width: 100%;
        height: 170px;
      }
      h2.title {
        padding: 20px 20px 0px;
        a {
          display: block;
          color: #0d51db;
          text-transform: capitalize;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 10px;
          line-height: 1.5;
        }
      }
      span.price {
        color: #f60;
      }
    }
  }
}