#h_top {
  padding: 40px 0 40px 0;
  .one-item {
    box-sizing: border-box;
    border: 2px solid #044f84;
    padding: 1px;
    transition: all 0.2s;
    .card-body {
      background-color: #05355a;
      display: flex;
      justify-content: center;
      align-items: center;
      .h-top-item {
        display: flex;
        align-self: center;
        i {
          margin-right: 20px;
          color: white;
          font-size: 33px;
          font-weight: 700;
        }
      }
      .sold-by-caption {
        padding: 13px 0px;
        h4 {
          color: white;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          text-transform: capitalize;
          margin-bottom: 0;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          color: #dddddd;
        }
      }
    }
    &:hover {
      background-color: #0879d0;
    }

    &:hover {
      border: 2px solid #0365a9;
    }
  }
  .info-bottom {
    overflow: hidden;
    .one-brand {
      float: left;
      padding: 10px;
      a {
        img.img-one-brand {
          width: 170px;
          height: 170px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  #h_top {
    margin-top: 20px;
    .one-item {
      margin-bottom: 20px;
      &.h-100 {
        height: auto !important;
      }
      .card-body {
        .h-top-item {
          display: block;
          text-align: center;
        }
        .sold-by-caption {
          text-align: center;
        }
      }
    }
  }
}

//Check titlt để comit