#h_top {
  padding: 40px 0 40px 0;
  .one-item {
    border: 1px solid #d2d2d2;
    padding: 10px;
    transition: all 0.2s;
    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      .h-top-item {
        display: flex;
        align-self: center;
        i {
          margin-right: 20px;
          color: #0d51db;
          font-size: 33px;
          font-weight: 700;
        }
      }
      .sold-by-caption {
        h4 {
          color: #505050;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          text-transform: uppercase;
          margin-bottom: 0;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          color: #505050;
        }
      }
    }
    &:hover {
      background-color: #afb0bd;
    }
  }
}

@media (max-width: 575.98px) {
#h_top{
  margin-top: 20px;
  .one-item{
    margin-bottom: 20px;
    &.h-100{
      height: auto!important;
    }
    .card-body{
      .h-top-item{
        display: block;
        text-align: center;
      }
      .sold-by-caption{
        text-align: center;
      }
    }
  }
}
}