#h_product {
  margin-top: 20px;
  h1.title{
    display: block;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    padding: 0 0 20px;
    color: #0d51db;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    &:after{
      content: "";
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      z-index: 2;
      background-color: #fdb822;
    }
    &:before{
      content: "";
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      z-index: 1;
      background-color: #ddd;
    }
  }
  .one-product {
    padding-top: 20px;
    position: relative;
    transition: all 0.2s;
    border: 1px solid #e4e4e4;
    //box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    border-bottom: solid 2px #5CBE6D;
    .img-wrap {
      position: relative;
      img.img-one-product-1 {
        height: 210px;
        width: 100%;
        padding: 10px;
        opacity: 1;

      }
      img.img-one-product-2 {
        position: absolute;
        height: 210px;
        width: 100%;
        padding: 10px;
        opacity: 0;
        top: 0;
        animation: fadeOut 0.5s;
      }
      &:hover {
        img.img-one-product-1 {
          opacity: 0;
        }
        img.img-one-product-2 {
          opacity: 1;
          animation: fadeIn 0.5s;
        }
      }
    }
    h2.title {
      padding: 20px 20px 15px;
      a {
        display: block;
        color: #0d51db;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1.5;
      }
    }
    .info {
      margin-top: 5px;
      padding: 10px;
      .price {
        color: #f60;
      }
      .brand{
        color: #0d51db;
        font-weight: bold;
        i{
          margin-right: 5px;
        }
      }
      .info-bottom {
        color: black;
        padding: 0px 20px 15px;
        i {
          color: #0d51db;
          padding-right: 10px;
        }
      }
    }
    &:hover {
      //box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
    }
    .label-new,.label-hot {
      position: absolute;
      border-radius: 50%;
      font-size: 15px;
      line-height: 50px;
      text-align: center;
      width: 50px;
      height: 50px;
      p {
        margin: 0;
        line-height: 50px;
        color: white;
        font-weight: 700;
      }
    }
    .label-new{
      top: 5px;
      left: 3px;
      background-color: #7dcd0a;

    }
    .label-hot{
      top: 60px;
      left: 3px;
      background-color: red;
    }
  }
}

@media (max-width: 575.98px) {
  #h_product {
    .one-product {
      h2.title{
        padding: 20px 5px 0;
      }
      .img-wrap {
        img.img-one-product-1 {
          height: 140px;
        }
        img.img-one-product-2 {
          height: 140px;
        }
      }
      .info{
        margin-top: 0;
      }
    }
  }
}
